body {
    background-color: rgb(84, 84, 236);
}
h1 {
    text-align: center;
    color: white;
}
section {
    background-color: white;
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.603);
}
footer {
    color: white;
    text-align: center;
    padding: 10px;
}
select#ressl {
    width: 190px;
}
input#fim {
    margin-top: 5px;
}