body {
    height: 90.6vh;
    background-image: linear-gradient(#5E53EF, #678DC0, #84b4f3);
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    background-color: #5C54ED;
    color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    text-align: center;
}
#city-name {
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 7px;
}
#search {
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 6px 8px;
    border: none;
    border-radius: 6px;
    transform: translateY(3.5px);
}
.material-icons-outlined {
    font-family: 'Material Icons';
    font-size: 20px;
    font-style: normal;
}
#country {
    height: 50px;
    transform: translateY(15px);
}
.hide {
    display: none;
}
#desc-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
#weather-icon {
    margin-left: -34px;
}
#details-container {
    display: flex;
    justify-content: center;
}
#wind {
    margin-top: 16px;
}
#water_drop {
    margin-top: 14px;
}
hr {
    width: 350px;
    margin-top: 18px;
}
#hr2 {
    margin: 0px 30px;
    width: 0px;
    size: 150px;
}
