@charset "UTF-8";

body {
    background-color: cornsilk;
}
main {
    background-color: white;
    width: 500px;
    text-align: center;
}
.botao {
    background-color: rgba(120, 37, 197, 0.692);
    color: white;
    width: 150px;
    margin: 10px;;
    padding: 12px;
    border: none;
    border-radius: 10px;
    
}
.botao:hover {
    cursor: pointer;
    background-color: rgba(95, 30, 156, 0.692);
}
#account_op {
    margin-right: 350px;
}
input {
    width: 200px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}
